@charset "UTF-8";
/*
Theme Name: mcanellasc
Theme URI: https://wordpress.org/themes/twentynineteen/
Author: Miquel Cañellas
Description: Tema Wordpress
Requires at least: 4.9.6
Requires PHP: 5.2.4
Version: 2.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: mcanellasc
*/

:root{
    --main-color:rgb(226, 112, 5);
    --background-body:rgb(243, 182, 124);
    --text-color:rgb(53, 19, 4);
    --text-light-color:rgb(247,161,82);
    --text-color-active:rgb(168, 55, 7);
    --text-color-hover:rgb(247, 161, 82);
    --backgroud-color-hover:rgb(39, 13, 1);
    --text-light-color:rgb(247, 161, 82);

}

body{
    background: var(--background-body);
}

.navbar{
    background-color: var(--main-color);
}

.navbar-light .navbar-nav .nav-link{
    color:var(--text-color);
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color:var(--text-color-active);
}

.dropdown-menu{
    background-color: var(--main-color);
}

.dropdown-menu a:hover{
    background-color: var(--main-color);
}

.jumbotron{
    color: var(--text-light-color);
    height: 400px;
}

.jumbo-front{
    background-image: url(inc/img/jumbo-front.png);
    background-repeat: no-repeat;
}

.jumbo-tienda{
    background-image: url(inc/img/jumbo-botiga.png);
    background-repeat: no-repeat;
}

.jumbo-jeans{
    background-image: url(inc/img/jumbo-jeans.png);
    background-repeat: no-repeat;
}
.jumbo-camisetas{
    background-image: url(inc/img/jumbo-samarreta.png);
    background-repeat: no-repeat;
}


.container img{
    width: 100%;
}

footer{
    background-color: var(--main-color);
    list-style: none;

}